<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->

<!--Navbar-->
<mat-toolbar class="main-nav">

  <a class="nav-item nav-link" routerLink="/"><a class="menu-button" mat-button>  <span><mat-icon>anchor</mat-icon></span><span class="hotel-name">Seaside Hotel</span></a></a>
  <div class="spacer"></div>

  <a class="nav-item nav-link" routerLink="/booking"><a class="menu-button highlight" mat-raised-button>Book now</a></a>
  <a class="nav-item nav-link" routerLink="/my_bookings"><a class="menu-button" mat-button>My bookings</a></a>
  <a class="nav-item nav-link" routerLink="/about"><a class="menu-button" mat-button>About</a></a>
  <a class="nav-item nav-link" routerLink="/contact"><a class="menu-button" mat-button>Contact</a></a>


</mat-toolbar>
<!--/.Navbar-->

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home </a>
      <a class="nav-item nav-link" routerLink="/booking">Booking</a>
  </div>
</nav> -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>