.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.main-nav {
  background-color: #ffffff; 
  height: 5rem;
  color: rgb(50, 125, 225);
  font-size: large;
  font-weight: 500;    
}

.spacer {
  flex: 1 1 auto;
}

.menu-button {
  color: rgb(50, 125, 225);
  font-size: large;
  font-weight: 500;  
}

mat-icon {
  font-size: 35px;
}

.highlight {
  background-color: rgb(50, 125, 225);
  color:  #ffffff; 
}

.hotel-name {
  color: rgb(50, 125, 225);
  font-size: 40px;
  font-weight: 400;  
  margin-left: 2rem;
  font-family: "Brush Script MT";
}
