<div class="container">
  <h1>About us</h1>

  <div class="intro">
    <h2>The personal hotel that offers that little bit extra</h2><hr><br>
    <p>The Seaside Hotel is a modern 5-star hotel, ideally situated for both business and pleasure.</p>
    <p>We will do everything we can to make you a regular guest from your very first stay with us. Every day, we offer all our guests afternoon coffee<br/>  with sweets, an evening meal in the restaurant,and breakfast buffet, which is of course also included.<p><br/>
    <p>Go to the nearby beach, have a dip in one of our pools or have a drink at our bar while you enjoy the beautiful view. <br/>You can also visit our gym, enjoy a refreshing sauna and relax in the lounge area – we have something for all the senses. <br/> Enjoy a warm and personal welcome, and when you leave, we want you to long to return!</p><br/>
    <h3>A warm welcome!</h3><br/>
    <mat-icon>anchor</mat-icon>
  </div>

  <ul class="mdc-image-list my-image-list">
    <li class="image-list__item">
      <div class="mdc-image-list__image-aspect-container">
        <img class="mdc-image-list__image" src="https://source.unsplash.com/YMOHw3F1Hdk/500x300">
      </div>
      <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">
          <h2>Our rooms</h2>
          <p>We have 147 modern rooms with all the conveniences you need.<br/> We offer four room categories: Standard, Superior, Deluxe and Family.</p>
      </span>
      </div>
    </li>
    <li class="image-list__item">
      <div class="mdc-image-list__image-aspect-container">
        <img class="mdc-image-list__image" src="https://source.unsplash.com/HlNcigvUi4Q/500x300">
      </div>
      <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">
          <h2>Food & Drink</h2>
          <p>We are passionate about food. In our restaurant kitchen,<br/> the food is made from scratch using local produce as far as possible.</p>
        </span>
      </div>
    </li>
    <li class="image-list__item">
      <div class="mdc-image-list__image-aspect-container">
        <img class="mdc-image-list__image" src="https://source.unsplash.com/rlwE8f8anOc/500x300">
      </div>
      <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">
          <h2>Lounge & Spa</h2>
          <p>We have a beutiful lounge area near the pool,where you can <br/> enjoy a refreshing dip or try one of our tasty cocktails. </p><p>You can also visit our spa, where we offer several relaxing packages.</p>
        </span>
      </div>
    </li>
    <li class="image-list__item">
      <div class="mdc-image-list__image-aspect-container">
        <img class="mdc-image-list__image" src="https://source.unsplash.com/X0rRYtJy0R8/500x300">
      </div>
      <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">
        <h2>To do</h2>
        <p>There are a lot to do in the area.</p><p>Try surfing, diving or just enjoy the beautiful beach.</p><p>There are also several trails near the hotel if you want to go exploring.</p>
        </span>
      </div>
    </li>
  </ul>
</div>