@use "@material/image-list/mdc-image-list";
@use "@material/image-list";
.container {
  text-align: center;
  position: relative;
  margin-top: auto;
  height: 80%;
  background-image: url("https://source.unsplash.com/apax4M-4kFI");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
}

.intro{
  text-align: center;
  width: 100%; 
  color: black;
}

.my-image-list {
  @include image-list.standard-columns(5);
  @include image-list.aspect(1.5);
  max-width: 1600px;
  column-gap: 10rem;
  margin-left: 10rem;
  margin-top: 1rem;
}

h2{
  font-size: 150%;
}

p{
  font-size: 100%;
  margin:0%;
}

.intro h2{
  font-size: 200%;
}

.intro h3{
  font-size: 150%;
}

hr {
  width: 50%
}

.intro p{
  font-size: 120%;
}

h1 { 
  padding: 5rem;
  font-size: 400%; 
  color: rgb(56, 32, 145)
}

mat-icon {
  font-size: 50px;
  text-align:left;
  padding-right: 1rem;
}