<div class="container">

  <form class="center">
  <h1>Search for your booking here</h1>

  <!-- Input for booking ID -->
  <mat-form-field appearance="legacy">
    <mat-label >Booking ID</mat-label>
    <input #box (keyup.enter)="onEnter(box.value)" matInput placeholder="eg. abc123def456ghi789jkl123mno456pq"
    (blur)="onEnter(box.value); box.value='' " value="{{bookingCode}}">

  </mat-form-field>

  <!-- Error message if booking not found -->
  <div class="error-message" *ngIf="bookingCodeInvalid">No bookings could be found</div>

  <!-- Show booking information -->
  <div class="booking">
    <div *ngIf="found">Room number: {{roomNbr}} <br> Booked dates: {{startDate}} to {{endDate}}</div>
    <div *ngIf="cancelled">Your booking {{code}} has been cancelled.</div>
  </div>

  <!-- Cancel button visible if booking found -->
  <a id="cancel" mat-raised-button *ngIf="found" (click)="removeBooking()">Cancel booking</a>

  </form>

</div>
