  .container {
    text-align: center;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1606848534605-899a95f9ab8d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
  }
  
  mat-form-field.mat-form-field {
    font-size: 1.2rem;
    width: 22rem;
    margin-top: 0.8rem;
  }
  
  h1 {
    padding-top: 2rem;
    font-size: 220%;
  }

  button {
    display: inline-block;
    left: 100%;
  }

  .error-message {
    color: red;
  }
  
  .booking {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    margin-left: 18%;
  }

  #cancel {
    margin-top: 1rem;
  }

  .center {
    position: absolute;
    top: 10rem;
    right: 40rem;
    width: 30%;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.671);
    padding-bottom: 2rem;
  }