.emailForm {
    width: 221px;
}

.center {
    margin:auto;
    width: 25%;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.671);
}

.container {
    text-align: center;
    margin-top: auto;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1606848534605-899a95f9ab8d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
}

.mat-icon {
    position: relative;
    float: right;
    top: -19.5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
}

.error-message {
    color: red;
}

h1 {
    padding-top:2rem;
    font-size: 220%;
}
