<div class="container">
    <br /><br /><br />

    <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)" class="center">
        <h1>Book your room here</h1>

        <!-- Email -->
        <mat-form-field class="emailForm" color="primary">
            <mat-label>Email</mat-label>
            <input name="email" ngModel email="true" matInput placeholder="example@mail.com" required>
        </mat-form-field>
        <br />

        <!-- Date Range-->
        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate"
                [dateFilter]="filterUnavailableDays">
                <input name="startDate" [(ngModel)]="startDate" matStartDate placeholder="Start date"
                    (dateChange)="onStartDateChange('change', $event)" readonly required>
                <input name="endDate" [(ngModel)]="endDate" matEndDate placeholder="End date"
                    (dateChange)="onEndDateChange('change', $event)" readonly required>
            </mat-date-range-input>
            <mat-icon matDatepickerToggleIcon (click)="clearDate()">clear</mat-icon>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <br />

        <!-- Button -->
        <button type="submit" mat-stroked-button color="primary">Submit</button>
        <br />
        <br />
        <div class="error-message" *ngIf="invalidForm">Your inputs are incorrect</div>
        <div class="error-message" *ngIf="unsuccessfulPost">Something went wrong with your booking</div>

    </form>
</div>