
  
  <div class="md-card-wrapper" ng-app="myapp">
   

  <mat-carousel
  timings="200ms ease-in"
  [autoplay]="true"
  [hideArrows]="false"
  [proportion]="40"
  color="primary"
>
  <mat-carousel-slide
  #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000000"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel>
<div class="header">Welcome to Seaside Hotel!</div>
<div class="subheader">Come, stay and enjoy your day</div>
</div>

