.md-card-wrapper {
  position: relative;
}

.header {
  position: absolute;
  top: 10%;
  right: 31%;
  color: white;
  font-size: 48px;
  opacity: 0.9;
  text-shadow: 2px 2px 8px #575757;
}

.subheader {
  position: absolute;
  top: 20%;
  right: 39%;
  color: white;
  font-size: 25px;
  opacity: 0.9;
  text-shadow: 2px 2px 8px #575757;
}