<div class="container">
  <br /><br />
  <h1>Contact us</h1>

  <div class = "contact">
    <p><mat-icon>home</mat-icon><span></span>Seaside Hotel</p>
    <p><mat-icon>room</mat-icon><span></span>123 45 Lund</p>
    <p><mat-icon>smartphone</mat-icon><span></span> 046-1234 56 78</p>
    <p><mat-icon>mail_outline</mat-icon><span></span>seasidehotel@gmail.com</p><br/>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8762.265271409407!2d8.21597006944985!3d56.69888284049734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4649f4e50c1d9cc5%3A0x62b9e6817324456a!2sSeaside%20Hotel!5e0!3m2!1ssv!2sse!4v1615395015556!5m2!1ssv!2sse" width="400" height="300" style="border: 0.3rem, black;" allowfullscreen="" loading="lazy"></iframe>
  </div>


  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm); contactForm.reset()" novalidate class="center">
    <br/>
    <h2>Send us a message</h2>

    <!-- Name -->
    <mat-form-field class="nameForm" color="primary">
      <mat-label>Name</mat-label>
      <input ngModel matInput name="text" required>
  </mat-form-field>
    <br/>

  <!-- Email -->
    <mat-form-field class="emailForm" color="primary">
        <mat-label>Email</mat-label>
        <input name="email" ngModel matInput placeholder="Ex. mail" value="email@example.com" required>
    </mat-form-field>
    <br/>

  <!-- Subject line -->
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Subject</mat-label>
      <input ngModel matInput name = "subject">
    </mat-form-field>
    <br/>

  <!-- Textarea -->
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Message</mat-label>
      <textarea ngModel matInput 
      name = "message"
      rows = "5">
    </textarea>
    </mat-form-field>
    <br/>

  <!-- Button -->
    <button type= "submit" mat-stroked-button color="basic">Submit</button>
      <br/><br/>
      <div [hidden]="submitted">
      <h2>Thank you for your message!:</h2></div>
      <div class="error-message" *ngIf="!valid">Your email are incorrect</div>
      <div class="error-message" *ngIf="!success">Something went wrong, please resend your message</div>
  </form>