.container {
  text-align: center;
  position: relative;
  margin-top: auto;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1606848534605-899a95f9ab8d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
 
}

.contact{
  position: absolute;
  left: 5em;
  top: 7rem;
  padding-left: 1rem;
  padding-top:3rem;
  margin:auto;
}

mat-icon {
  font-size: 30px;
  text-align:left;
  padding-right: 1rem;
}

h1 {
  position: absolute;
  left: 4rem;
  padding: 2rem;
  font-size: 300%;
  color: white;
}

h2 {
  text-align: center;
  padding-top:2rem;
  font-size: 150%;
  color: black;
}

p {
  text-align: left;
  padding-left: 1rem;
  font-size: 125%;
  color: black;
}

.center {
  position: absolute;
  top: 9rem;
  right: 30rem;
  margin:auto;
  width: 30%;
  text-align: center;
  background-color: rgba(253, 253, 253, 0.671);
}

mat-form-field {
  resize: none;
  width: 25rem;
}

button {
  display: inline-block;
  border: 1px solid black !important;
}


mat-label {
  font-size: 1 rem;
  margin-bottom: 0.8rem;
}

.error-message {
  color: red;
}